body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* background:url('/modat/src/images/backgroundlogin.png'); */
    background-size: cover;
    background-attachment: fixed;
    
    }
      .boton {
    
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            
          
    
    }
        .boton1 {
            margin-bottom: 10px;
            border: 2px solid rgba(211, 28, 28, 0);

            width: 150px;
            color: rgb(255, 0, 0);
            font-size: 20px;
            background: rgb(62, 98, 218);
            padding: 15px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-block-start: 5%;

        }
        